/* frontend/src/App.css */
.App {
  font-family: sans-serif;
}

.App-header {
  background-color: #b8d8be; /* brand color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333; /* text color that contrasts with #b8d8be */
}
